body {
  background-color: #222;
  color: #eee;
}

h1, h3 {
  font-family: Helvetica;
  font-weight: bold;
  font-style: italic;
}

pre code {
  color: #ccc;
  font-size: 140%;
}

.keyword {
  color: #0086b3 !important;
  font-weight: inherit !important;
}

.tag {
  color: #900 !important;
}

code {
  background-color: inherit;
}

em {
  border-bottom: 1px solid #666;
}

#wrapper {
  width: 1024px;
  height: 768px;
  overflow: hidden;
  margin: 80px auto 0 auto;
}
